body, html {
  margin: 0;
  padding: 0;
  background-color: beige;
}

span.a{ 
  display: inline; /* the default for span */ 
}

.select-shapes {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.canvas {
  height: 100%;
  width: 80%;
}

canvas {
  width: 100%;
  height: 100%;
}

.draw-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.controls {
  padding-left: 2em;
}
